# Token配置
JWT_SECRET=your_jwt_secret_here

# 数据库配置
DB_HOST=127.0.0.1
DB_PORT=13306
DB_USERNAME=root
DB_NAME=gochat
DB_PASSWORD=your_db_password_here

# Redis配置
REDIS_HOST=127.0.0.1
REDIS_PORT=16379
REDIS_DB=0
REDIS_PASSWORD=your_redis_password_here

# CORS跨域允许域名
CORS_ORIGINS=["your_origins"]

# Cookie 配置
COOKIE_DOMAIN=yourdomain.com
COOKIE_SECURE=false
COOKIE_HTTPONLY=true
COOKIE_PATH=/

# 证书配置
HTTPS_CERT_FILE=
HTTPS_KEY_FILE=

# Email配置
EMAIL_HOST: ""
EMAIL_PORT:
EMAIL_USERNAME: ""
EMAIL_PASSWORD: ""

# Outbox配置
BINLOG_ADDR=
BINLOG_USER=
BINLOG_PASSWORD=
BINLOG_TABLEDB=
BINLOG_EXECUTION_PATH=

# Kafka配置
KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:9092
KAFKA_CLIENT_ID=gochat-client
KAFKA_ACKS=all
KAFKA_SECURITY_PROTOCOL=PLAINTEXT
KAFKA_SASL_MECHANISM=
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=
KAFKA_ENABLE_IDEMPOTENCE=true
KAFKA_MESSAGE_TIMEOUT_MS=30000
KAFKA_ALLOW_AUTO_CREATE_TOPICS=true
KAFKA_MAX_IN_FLIGHT=5
KAFKA_MAX_RETRIES=3
KAFKA_BACKOFF_MS=100