# Token配置
JWT_SECRET="your secret"
# 数据库配置
DB_PASSWORD=password
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=gochat
# Redis配置
REDIS_PASSWORD=password
REDIS_ADMIN_PASSWORD=admin
# Email配置
EMAIL_PASSWORD=passworrd
# Binlog配置
BINLOG_PASSWORD=password